{% extends 'dttool/base_visitor.html' %}
{% block title %}Password reset complete{% endblock %}

{% block body %}
      <div class="container-fluid">
         {% load staticfiles %}
         <img class="logo" src="{% static "dttool/images/Dynatrace-logo.svg" %}" width="300" height="100">
         <p style="color:white">Your password has been resetted succesfully.</p>
         <div class="panel-footer panel-custom">
     	    <div class="naomi" style="text-align:center"> Go to <a class="link1" href="{% url 'dttool:login_user' %}">Login</a> page.
         </div>
      </div>
{% endblock %}

