{% extends 'dttool/base_visitor.html' %}
{% block title %}Reset Password{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                {% load staticfiles %}
                 <img class="logo" src="{% static "dttool/images/Dynatrace-logo.svg" %}" width="300" height="100">
<p style="color:white">Youre receiving this e-mail because you requested a password reset for your user account at {{ site_name }}.</p>

Please go to the following page and create a new password:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'dttool:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Your username: {{ user.username }}


Thanks,
Dynatrace Team
{% endblock %}
