{% extends 'dttool/base_visitor.html' %}

{% block title %}Password reset successful{% endblock %}
{% block content %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body" style="text-align:center">
                {% load staticfiles %}
                 <img class="logo" src="{% static "dttool/images/Dynatrace-logo.svg" %}" width="300" height="100">
                 <p style="color:white">The instructions for re-setting the password to the e-mail address you submitted.</p>
                 <p style="color:white">You should be receiving it shortly. Please check your junk/spam folders in case you don't receive it.</p>
            </div>
            <div class="panel-footer panel-custom">
     	         <div class="naomi" style="text-align:center"> Go back to <a class="link1" href="{% url 'dttool:login_user' %}">Login</a> page.
            </div>
{% endblock %}
{% endblock %}

