<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dynatrace | Health Check Tool {% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%static "dttool/images/Dynatrace-favicon.ico"%}"/>
</head>

<body style="background-color:#333333">
         <div class="row" style="text-align:center">
           <img class="logo" src="{% static "dttool/images/Dynatrace-logo.svg" %}" width="300" height="100"> 
         </div>
         <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav navbar-right">
               <h1 style="color:white;text-align:center"> Password Change Form </h1> 
               <li>
                   <a style="color:white" href="{% url 'dttool:index' %}">
                       <span class="glyphicon glyphicon-back" style="color:white" aria-hidden="true"></span>Back to Dashboard
                   </a>
               </li>

            </ul>
         </div>

       <form style="color:#ffffff;text-align : center"  method="post">
         {% csrf_token %}
         {{ form }}
         <button type="submit">Change Password </button>

       </form>
   </body>
</html>

